{% extends 'base.html' %}
{% import "_macros.html" as macros %}


{% block title %}
	Login
{% endblock %}


{% block content %}
	<h2 align="center" class="mb-4">
		Enter the data for logging to your account:
	</h2>

	{% include "_includes/form-errors.html" %}

	<form method="POST">
		{% include "_includes/csrf-token.html" %}

		{{ macros::field(label="Username", min_len=3, max_len=45, prompt="Enter username of account...") }}
		{{ macros::field(label="Password", min_len=6, max_len=50, prompt="Enter password of account...", type="password") }}

		<div class="form-group mt-4">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>
{% endblock %}
